<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h4);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li>
        <a style="text-decoration:none;" href="https://github.com/iitmanushka137?tab=followers" class="Follower Count">
          <img src="https://img.shields.io/github/followers/iitmanushka137?label=Followers&labelColor=-545454&color=cc34a4&style=flat">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://github.com/iitmanushka137" class="Profile Views">
          <img src="https://komarev.com/ghpvc/?username=iitmanushka137&color=cc34a4&style=flat">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://github.com/iitmanushka137?tab=followers" class="GitHub Badge">
          <img src="https://img.shields.io/badge/-GitHub-545454?&style=flat&logo=github&logoColor=ffffff&link=https://github.com/iitmanushka137?tab=followers">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://www.linkedin.com/in/anushka-krishna-b591401b4" class="Linkedin Badge">
          <img src="https://img.shields.io/badge/-LinkedIn-0a66c2?style=flat&logo=Linkedin&logoColor=ffffff&link=https://www.linkedin.com/in/anushka-krishna-b591401b4">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://twitter.com/AnushkaKrishna9" class="Twitter Badge">
          <img src="https://img.shields.io/badge/-Twitter-118be4?&style=flat&logo=Twitter&logoColor=ffffff&link=https://twitter.com/AnushkaKrishna9">
        </a>
      </li>
   
      <li>
        <a style="text-decoration:none;" href="mailto:krishnaanushka137@gmail.com" class="Gmail Badge">
          <img src="https://img.shields.io/badge/-GMail-c4241c?style=flat&logo=Gmail&logoColor=ffffff&link=mailto:krishnaanushka137@gmail.com">
        </a>
      </li>
    </ul>
  </div>
